body {
  margin: 0;
}

.container {
  margin: 50px;
}

.header {
  width: 100%;
  text-align: center;

  h1 {
    margin: 20px;
  }
}

.nav-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;

  h6 {
    display: inline-block;
  }

  .menuIcon {
    display: none;
    background: #000;
    width: 100%;
    text-align: center;
    &:hover {
      background: #999;
    }
    a {
      width: 100%;
      display: inline-block;
      color: #fff;
      img {
        vertical-align: middle;
      }
    }
  }

  .menu {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      li.nav-item {
        float: left;
        display: inline-block;
        font-weight: 200;
        margin-right: 20px;

        a {
          color: grey;
          text-decoration: none;
          padding-bottom: 10px
        }

        a:hover {
          border-bottom: 1px solid grey;
        }
      }
    }
  }
}

// @media only screen and (max-width: 767px) {
//   .nav-menu {
//     .menu {
//       max-height: 0;
//       overflow: hidden;
//       float: none;
//       text-align: center;
//       width: 100%;
//       @include transition(max-height 0.5s);
//       &.menuOpen {
//         max-height: 1000px;
//         @include transition(max-height 0.5s);
//       }
//     ul {
//       li {
//         display: block;
//         width: 100%;
//         background: #000;
//         border-top:1px solid #4d4d4d;
//         &:hover {
//           background: #999;
//         }
//         a {
//           color: #fff;
//           text-shadow: #848484 0px 1px 2px;
//           padding: 10px 0;
//           width: 100%;
//           }
//         }
//       }
//     }
//     .menuIcon {
//       display: inline-block;
//     }
//   }
// }
