@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 50px;
}

.header {
  width: 100%;
  text-align: center;

  h1 {
    margin: 20px;
  }
}

.nav-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;

  h6 {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }

  .menuIcon {
    display: none;
    float: right;
    text-align: right;
    a {
      display: inline-block;
      text-decoration: none;
      color: grey;
    }
  }

  .menu {
    display: inline-block;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      li.nav-item {
        float: left;
        display: inline-block;
        font-weight: 200;
        margin-right: 20px;
        padding-bottom: 10px;
        &:hover {
          border-bottom: 1px solid grey;
        }

        a {
          color: grey;
          text-decoration: none;
        }
      }
    }
  }
}

div.teamimage {
  margin-top: 20px;
  text-align: center;
  height: 100%;
  min-height: 100%;
  display: block;
}

img.circle {
  width: 100%;
  max-width: 100px;
  border-radius: 200px;
  box-shadow: 0px 0px 0px 1px
}

img.team {
  width: 100%;
}

.teamdetails {
  margin-top: 25px;
  text-align: center;
  display: block;
}

div.frontwrapper {
  padding: 0 10%;
}

div.frontpage {
  float: left;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  font-weight: 100;
}

@media only screen and (max-width: 1130px) {
  div.frontpage {
    font-size: 60px;
  }
}

@media only screen and (max-width: 790px) {
  div.frontpage {
    font-size: 55px;
  }
}

@media only screen and (max-width: 650px) {
  div.frontpage {
    font-size: 45px;
  }
}

@media only screen and (max-width: 470px) {
  div.frontpage {
    font-size: 40px;
  }
}


@media only screen and (max-width: 470px) {
  .nav-menu {
    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      @include transition(max-height, 0.5s, ease-in-out);
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height, 0.5s, ease-in-out);
      }
      ul {
        li {
          display: block;
          width: 100%;
          a {
            width: 100%;
          }
        }
      }
    }
    .menuIcon {
      display: inline-block;
    }
  }
}
