@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

$twitter: #00aced;
$facebook: #3b5998;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.container.wrapper {
  margin: auto;
  max-width: 620px;
}

.header {
  width: 100%;
  text-align: center;

  h1 {
    margin: 20px;
  }
}

.nav-menu {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;

  a.title {
    text-decoration: none;
    transition: color 1.0s ease-in-out;
    color: #4A90E2;

    &:hover, &:active {
      color: #BD10E0
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: top;
    font-weight: 300;
  }

  .menuIcon {
    display: none;
    float: right;
    text-align: right;
    a {
      display: inline-block;
      text-decoration: none;
      color: grey;
    }
  }

  .menu {
    display: inline-block;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;

      li.nav-item {
        float: left;
        display: inline-block;
        font-weight: 200;
        margin-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid transparent;
        transition: border-color 0.75s ease;
        &:hover {
          border-color: grey;
        }

        a {
          color: grey;
          text-decoration: none;
        }
      }
    }
  }
}

div.teamimage {
  margin-top: 20px;
  text-align: center;
  height: 100%;
  min-height: 100%;
  display: block;
}

img.circle {
  width: 100%;
  max-width: 130px;
  border-radius: 200px;
  box-shadow: 0px 0px 0px 1px
}

img.team {
  width: 100%;
}

.founder {
  vertical-align: top;
  margin: 20px;
  max-width: 130px;
  display: inline-block;

  .foundername {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .founderrole {
    font-size: 1.2rem;
    font-weight: 200;
  }
}

.teamdetails {
  margin-top: 25px;
  text-align: center;
  display: block;
}

div.frontwrapper {
  padding: 0 10%;
  height: 100%;
}

div.frontpage {
  float: left;
  padding: 20px 0 20px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 65px;
  font-weight: 100;
  width: 100%;
}

.article {
  h5, h6 {
    margin: 0;
  }
  a {
    font-size: 90%;
  }
}

.socialmedia {
  text-align: center;
  a {
    text-decoration: none;
    color: #222;

    &:hover, &:active {
      .facebook {
        color: $facebook
      }

      .twitter {
        color: $twitter
      }
    }
  }
  .socialmediaicon {
    width: 90px;
    text-align: center;
    display: inline-block;
    i {
      font-size: 40px;
    }
  }
}

.heading {
  text-align: center;
}

.footer {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 30px;
  text-align: center;
  a {
    text-decoration: none
  }
}

@media only screen and (max-width: 970px) {
  div.frontpage {
    font-size: 60px;
  }
}

@media only screen and (max-width: 895px) {
  div.frontpage {
    font-size: 55px;
  }
}

@media only screen and (max-width: 750px) {
  div.frontpage {
    font-size: 50px;
  }
  .founder {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  div.frontpage {
    font-size: 45px;
  }
}

@media only screen and (max-width: 470px) {
  div.frontpage {
    font-size: 40px;
  }
}

@media only screen and (max-width: 390px) {
  div.frontpage {
    font-size: 35px;
  }
}

@media only screen and (max-width: 321px) {
  div.frontpage {
    font-size: 30px;
  }
}

@media only screen and (max-width: 635px) {
  .nav-menu {

    .logo {
      float: left;
      margin: 0;
    }
    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      @include transition(max-height, 0.5s, ease-in-out);
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height, 0.5s, ease-in-out);
      }
      ul {
        li {
          display: block;
          width: 100%;
          a {
            width: 100%;
          }
        }
      }
    }
    .menuIcon {
      display: inline-block;
    }
  }
}
