extends layout

block append title
  title=page.title

block content
  
  .row
    div.teamimage
      img.team(src="/images/team/group.jpg")
      h6 The BabySteps Team
  
  .container
    .teamdetails
      .row
        h5 Who Are We?
      .row
        each founder in page.metadata.founders
          img.circle(src=founder.imagelink)
          h6=founder.name
