extends layout

block append title
  title=page.title

block content
  .row
    div.teamimage
      img.team(src="/images/team/group.jpg")
      h6 The BabySteps Team
  
  .container.wrapper
    .teamdetails
      .row
        h5 Who Are We?
        p We're a group of students across various disciplines at the University of Waterloo, passionate about changing the world.
      .row
        each founder in page.metadata.founders
          .founder
            img.circle(src=founder.imagelink)
            div.foundername=founder.name
            div.founderrole=founder.role
