extends layout

block append title
  title=page.title

block content
  .container
    h2 Get Involved With BabySteps!
    
    h6 Interested in helping us change the world? Contact us!

    form
      .row
        .six.columns
          label(for='name') Name
          input#name.u-full-width(type="text" placeholder='Bruce Wayne' required='')
        .six.columns
          label(for='email') Email
          input#email.u-full-width(type='email', placeholder='bwayne@batcave.com' required='')
        label(for='message') Message
        textarea#message.u-full-width(placeholder='Hello BabySteps!' required='')
        input.button-primary(type='submit', value='Submit')
