extends layout

block append title
  title=page.title

block content
  div.frontwrapper
    div.frontpage Did you know that over a hundred million children around the globe don't have access to early childhood education?
