extends layout

block append title
  title=page.title

block content
  div.frontwrapper
    div.frontpage Did you know that over a hundred million children around the globe don't have access to early childhood education?
  
  div.frontwrapper
    div.frontpage We're working on resolving the lack of Early Childhood Education in developing countries in urban slums.
  
  div.frontpage We need your help
  .row.heading
    a(href="/getinvolved").button Find Out More
  
