doctype html
html(lang='en')
  head
    block head
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width')
      meta(charset='utf-8')
      link(rel='stylesheet', href='/styles/main.css')
      link(rel='stylesheet', href='/styles/skeleton/skeleton.css')
      block title
  body
    .container
      .header
        h1 babysteps
      hr
      .nav-menu
        ul.site-nav-list
          li.nav-item 
            a(href="/") Home
          li.nav-item 
            a(href="/ourwork") Our Work
          li.nav-item 
            a(href="/aboutus") About Us
          li.nav-item 
            a(href="/getinvolved") Get Involved
      block content