.nav-menu
  h6 babysteps
  .menuIcon
    a#menuExpand(href='#')
      i.icon-menu.icon-2x
  .menu
    ul
      li.nav-item
          a(href="/") Home
      li.nav-item
        a(href="/ourwork") Our Work
      li.nav-item
        a(href="/aboutus") About Us
      li.nav-item
        a(href="/getinvolved") Get Involved
.u-cf
