.nav-menu
  //- a.title(href="/")
  //-   h6 babysteps
  div.logo
    a.title(href="/") babysteps
  .menuIcon
    a#menuExpand(href='#')
      i.icon-menu
  .menu
    ul
      li.nav-item
        a(href="/babysteps_website/") Home
      li.nav-item
        a(href="/babysteps_website/ourwork") Our Work
      li.nav-item
        a(href="/babysteps_website/aboutus") About Us
      li.nav-item
        a(href="/babysteps_website/press") Press
      li.nav-item
        a(href="/babysteps_website/getinvolved") Get Involved
.u-cf
