.nav-menu
  a.title(href="/")
    h6 babysteps
  .menuIcon
    a#menuExpand(href='#')
      i.icon-menu
  .menu
    ul
      li.nav-item
        a(href="/") Home
      li.nav-item
        a(href="/ourwork") Our Work
      li.nav-item
        a(href="/aboutus") About Us
      li.nav-item
        a(href="/press") Press
      li.nav-item
        a(href="/getinvolved") Get Involved
.u-cf
