extends layout

block append title
  title=page.title

block content
  .container.wrapper
    h2.heading Our Work
    
    p.heading Details of the work we've done and the progress we've made so far are coming soon. 
    p.heading Meanwhile, feel free to contact us if you have any questions!
    
    .row.heading
      a.button(href="/getinvolved") Get Involved With BabySteps!
    
    hr
    
    h6.heading Follow us on social media!
    
    .row.socialmedia
      a(href=page.metadata.social_media_facebook, target="_blank")
        .socialmediaicon.facebook
          i.icon-facebook-squared
          div Facebook
      a(href=page.metadata.social_media_twitter, target="_blank")
        .socialmediaicon.twitter
          i.icon-twitter
          div Twitter
