extends layout

block append title
  title=page.title

block content
  h2 Our Work

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius est id est tempor consequat dictum vitae nunc. Praesent vitae blandit diam, at mollis turpis. Praesent et purus gravida dui congue ultrices sit amet in neque. Donec euismod laoreet odio, sit amet varius magna sodales ut. Sed venenatis arcu quam, sit amet mattis urna porta vitae. Praesent tincidunt aliquam diam, a auctor nunc dictum id. Cras vestibulum est vitae bibendum posuere. Nunc hendrerit tincidunt odio sit amet tincidunt. Maecenas sem tellus, maximus sit amet egestas ullamcorper, imperdiet semper enim. Duis porta libero tellus, vel volutpat lacus imperdiet eget. Ut lacus dui, maximus aliquet suscipit eget, posuere ut mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque posuere scelerisque odio sit amet mattis. Fusce porttitor erat arcu, vel gravida eros finibus in.