extends layout

block append title
  title=page.title

block content
  .container.wrapper
    .pressdetails
      h2.heading BabySteps in the Press
      h6.heading Check out BabySteps' Press Coverage!
      .row
        each article in page.metadata.articles
          .article
            h5=article.publication
            h6=article.headline
            a(href=article.link, target="_blank")=article.link
            hr
